{% extends "base.html" %}

<!-- OGP -->
{% block ogp %}
    <meta property="og:title" content="{{ SITENAME }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ SITEURL }}" />
    <meta property="og:image" content="{{ SITEURL }}/theme/img/{{ DEFAULT_THUMBNAIL }}" />
    <meta property="og:site_name" content="{{ SITENAME }}" />
    <meta property="og:description" content="{{ SITEDESCRIPTION }}" />

    {% if OGP_FACEBOOK %}
    <!-- Facebook -->
    <meta property="fb:app_id" content="{{ FACEBOOK_ID }}" />
    {% endif %}
    {% if OGP_TWITTER %}
    <!-- ※Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    {% endif %}
{% endblock %}
<!-- /OGP -->

{% block content %}
                <div class="archive-header">
                    <div>
                        <nav class="breadcrumb">
                            <ul itemscope itemtype="http://schema.org/BreadcrumbList">
                                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                    <a href="{{ SITEURL }}" itemprop="item" class="link-item">
                                        <span class="link-to-home" itemprop="name">ホーム</span>
                                        <meta itemprop="position" content="1">
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <h1>カテゴリー「{{ category }}」記事一覧</h1>
                    </div>
                </div>
                <div class="card-wrapper">
                    {% for article in articles[(articles_page.number-1)*articles_page.paginator.per_page:articles_page.number*articles_page.paginator.per_page] %}
                    <a href="{{ SITEURL }}/{{ article.slug }}" class="card">
                        <div class="card-header">
                            {% if article.thumbnail %}
                            <img src="{{ SITEURL }}/theme/img/{{ article.thumbnail }}" alt="{{ article.thumbnail_alt }}">
                            {% else %}
                            <img src="{{ SITEURL }}/theme/img/{{ DEFAULT_THUMBNAIL }}" alt="empty thumbnail">
                            {% endif %}
                        </div>
                        <div class="card-content">
                            <ul class="post-meta">
                                {% if article.updated_date %}
                                <li class="date updated"><time itemprop="updated" datetime="{{ article.updated_date }}">{{ article.updated_date }}</time></li>
                                {% if article.published_date %}
                                <li class="date published"><time itemprop="published" datetime="{{ article.published_date }}">{{ article.published_date }}</time></li>
                                {% endif %}
                                {% else %}
                                <li class="date published"><time itemprop="published" datetime="{{ article.date|strftime(DATE_FORMATS['datetime']) }}">{{ article.date|strftime(DATE_FORMATS['datetime']) }}</time></li>
                                {% endif %}
                            </ul>
                            <h2>{{ article.title }}</h2>
                        </div>
                    </a>
                    {% endfor %}
                    <div class="paginator-wrapper">
                        {% if articles_previous_page.url %}
                        <a href="{{ articles_previous_page.url }}" class="paginator previous">Previous</a>
                        {% endif %}
                        {% if articles_next_page.url %}
                        <a href="{{ articles_next_page.url }}" class="paginator next">Next</a>
                        {% endif %}
                    </div>
                </div>
{% endblock %}
