{% extends "base.html" %}

    {% block title %}
    <title>{{ SITENAME }} {{ period | reverse | join(' ') }} archives</title>
    {% endblock %}
    <!-- OGP -->
    {% block ogp %}
    <meta property="og:title" content="{{ SITENAME }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ SITEURL }}" />
    <meta property="og:image" content="{{ SITEURL }}/theme/img/{{ DEFAULT_THUMBNAIL }}" />
    <meta property="og:site_name" content="{{ SITENAME }}" />
    <meta property="og:description" content="{{ SITEDESCRIPTION }}" />

    {% if OGP_FACEBOOK %}
    <!-- Facebook -->
    <meta property="fb:app_id" content="{{ FACEBOOK_ID }}" />
    {% endif %}
    {% if OGP_TWITTER %}
    <!-- ※Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    {% endif %}
    {% endblock %}
    <!-- /OGP -->

                {% block content %}
                <h1>Archives for {{ period | reverse | join(' ') }}</h1>

                <dl>
                {% for article in dates %}
                    <dt>{{ article.date|strftime("%Y年 %m月 %d日") }}</dt>
                    <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
                {% endfor %}
                </dl>
                {% endblock %}