                        <div class="post-footer">
                            <div class="share">
                                <h3>SHARE</h3>
                                <ul>
                                    <li class="share-tw">
                                        <a href="https://twitter.com/share?url={{ SITEURL }}/{{ article.slug }}" target="_blank" class="link-item">
                                            <img src="{{ SITEURL }}/theme/img/icons/twitter.svg" alt="share for twitter">
                                        </a>
                                    </li>
                                    <li class="share-fb">
                                        <a href="https://www.facebook.com/share.php?u={{ SITEURL }}/{{ article.slug }}" target="_blank" class="link-item">
                                            <img src="{{ SITEURL }}/theme/img/icons/facebook.svg" alt="share for facebook">
                                        </a>
                                    </li>
                                    <li class="share-htb">
                                        <a href="http://b.hatena.ne.jp/entry/{{ SITEURL }}/{{ article.slug }}" target="_blank" class="link-item">
                                            <img src="{{ SITEURL }}/theme/img/icons/hatena.svg" alt="share for hatenablog">
                                        </a>
                                    </li>
                                    <li class="share-pkt">
                                        <a href="http://getpocket.com/edit?url={{ SITEURL }}/{{ article.slug }}" target="_blank" class="link-item">
                                            <img src="{{ SITEURL }}/theme/img/icons/pocket.svg" alt="share for getpocket">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
